code {
        background: #121212;
        font: 1.0em/1.35 'Nimbus Mono PS', 'Liberation Mono', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', 'Lucida Console', monospace;
        padding: 0.2em;
        padding-top: 0.4em;
        border-radius: .3em;
}

pre {

        background: #121212;
        font-size: 1.5em/1.35;
        padding: 1em;
        margin: .5em 0;
        overflow: auto;
        border-radius: .3em;
}

body {
        color: #dadada;
        background: #202020;
        margin: 1em auto;
        max-width: 90vw;
        padding: 0 .62em;
        font: 1.0em/1.35 sans-serif
}

a:link,
a:visited {
        color: #80c47b;
}

a:hover,
a:visited:hover {
        color: #6bb794
}

h1,
h2,
h3 {
        line-height: 1.2
}

wrap {
        word-wrap: break-word
}

@media (max-device-width: 1200px) {
        h1 {
                line-height: 1.2;
                font-size: 40px;
        }

        h2 {
                line-height: 1.2;
                font-size: 30px;
        }

        body {
                font-size: 20px;
        }

        pre,
        code {
                font-size: 16px;
        }
}

@media print {
        body {
                max-width: none
        }
}

footer {
        text-align: center;
}

blockquote {
        border-left: 3px solid #59997a;
        padding-left: 1em;
        margin-left: 0.5;
}